{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Test task for Check24</h1>
                <a href="{{ url('homepage') }}">Go home</a>
            </div>

            <div id="content">
                <h2>{{ entry.title }}</h2>
                <div id="description">
                    {{ entry.description }}
                </div>
                <div class="author">
                    {{ entry.dateString }}. {{ entry.author }}
                </div>
            </div>

            <hr/>
            <div id="comments-content">
                <div class="all-comments">
                    <h2>Comments:</h2>
                    {% if entry.comments.empty %}
                        There are no comments yet. Be first one.
                    {% endif %}
                    <ul>
                        {% for comment in entry.comments %}
                            <li>
                                <strong>{{ comment.name }}</strong> ({{ comment.url }}) said ({{ comment.dateString }}):
                                <p>{{ comment.comment }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="add-comment-wrapper">
                    <h2>Add comment: </h2>
                    <form method="post" action="{{ url('add-comment', { 'entry': entry.id }) }}">
                        <table>
                            <tr>
                                <td>
                                    <label for="name">Name: </label>
                                </td>
                                <td>
                                    <input name="name" id="name" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="email">Email: </label>
                                </td>
                                <td>
                                    <input name="email" id="email" type="email" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="url">Url: </label>
                                </td>
                                <td>
                                    <input name="url" id="url" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="comment">Comment: </label>
                                </td>
                                <td>
                                    <textarea required name="comment" id="comment"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="submit" value="Send">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
    .author {
        font-style: italic;
    }
</style>
{% endblock %}
